.bodyindex {
    color:hsl(256, 100%, 13%);
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    font-family: 'Grandstander', cursive;
    font-size: 22px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    text-align: center;
}

.divlogo{
    display: flex;
}

.logo{
    width: 100%;
}


.navbar-expand-lg{
    background: linear-gradient(90deg, rgba(156,58,226,0.7679446778711485) 0%, rgba(140,64,255,0.7595413165266106) 100%) !important;
    margin-bottom: 20px;
}

.nav-item{
    padding-left: 15px;
    padding-right: 15px;
}

.container-fluid{
    justify-content: center !important;}



.menumobile{
    padding-left: 15px;
    display: none;
}
    


h1 {
    font-size: 35px;
    font-weight: bold;
    
}

a {
    color: black !important;
    text-decoration: none   ;
    margin: 5px;
}


.paso_a_paso {
    font-style: italic;
    list-style-position: inside;

}

a:hover {
    color: rgb(206, 0, 0);

}


.fotos{
    display:flex;
    justify-content: space-evenly
    
   
}

.chocotorta{
    width: 45%;
    
}

.tortafrutilla{
    width: 45%;
    
}


h2{
    font-size: 30px;
    font-weight: bold;
    padding-top: 3px;

}

li{
    padding-top: 7px;
    padding-bottom: 7px;
}


.fondopasos{
    background-image: url("../imagenes/fondofondo.jpg");

    width: auto;
    
    background-size: 500px;
    color: rgb(0, 0, 0);
}

.iconofb:hover{
    color: rgb(136, 0, 0)
}

.iconoig:hover{
    color: rgb(136, 0, 0)
}
.iconoli:hover{
    color: rgb(136, 0, 0)
}

.pie{
    padding-top: 12px;
    padding-bottom: 3px;
    
    
}

.nombreyanio{
    display: block;
    padding-top: 10px;
    
}



.pasoapasogrid{
    display: grid;
    grid-template-columns: 1fr 9fr;
    list-style-position: inside;
    text-align: left;
    padding-left: 10px;
    width: 60%;
    margin: auto;
   
  
    
}

.pasoapasogrid li{
    display: flex;
    align-items: center;
}


.item{
    margin-left: 2px;
     
}






/* Fin de home */


.bodynosotros{
    color:hsl(256, 100%, 13%);
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    font-family: 'Grandstander', cursive;
    font-size: 22px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    text-align: center;
}

.contenidonosotros{
    display: flex;
    column-gap: 20px;
}

.textonosotros{
    width: 70%;
}

    


/* Fin de nosotros jaja */


.bodycontacto{
    color:hsl(256, 100%, 13%);
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    font-family: 'Grandstander', cursive;
    font-size: 22px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    text-align: center;
}

.formulario{
    width: 300px;
    box-sizing: content-box !important;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(151, 95, 241, 0.788);
    border: 4px solid rgba(113, 9, 211, 0.87);
    border-radius: 5px;
    
}

.nombre{
    padding: 5px;
    width: 280px;
}

.mail{
    padding: 5px;
    width: 280px
}

.consulta{
    padding: 5px;
    width: 280px;
    height: 280px;
}

.botonformulario{margin-bottom: 10px;
                padding: 10px;
                width: 80%;
                background-image: url(../imagenes/formulario.png);
                background-size: 40px;
                background-repeat: no-repeat;
                background-position: left center;
                 font-family: 'Grandstander', cursive;
                font-weight: bold;
                font-size: 20px;
                border-radius: 5px;}


/* Fin de Contacto */


.bodytortas{
    color:hsl(256, 100%, 13%);
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    font-family: 'Grandstander', cursive;
    font-size: 22px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    text-align: center;
}

.contenedortortas{
    display:flex;
    column-gap: 50px;
    justify-content: center;
}

.torta{
    width: 350px;
    background-color: rgba(151, 95, 241, 0.788);
    border: 4px solid rgba(113, 9, 211, 0.87);
    border-radius: 5px;
}

.fotostortas{
    padding-top: 10px;
}

.botoncarrito{width: 80%;
              margin-bottom: 10px;
              padding: 10px;
              background-image: url(../imagenes/campana.png);
              background-repeat: no-repeat;
              background-position: left center;
              font-family: 'Grandstander', cursive;
              font-weight: bold;
              font-size: 22px;
              border-radius: 5px;
              box-sizing: content-box;
              
             
                                                }


 .botoncarrito:hover{color: rgb(206, 0, 0);

 }

 .rounded{padding-top: 5px;
          padding-bottom: 5px;
          }

.col-xs-10.col-sm-10.col-md-5.col-lg-3.border.border-3.rounded{
    background-color: rgba(155, 115, 221, 0.719);
   
}

.row{
    row-gap: 15px;
    justify-content: space-around;
    
    
    }

.row button{align-items: flex-end;}











/* Fin de Tortas */


.bodycarrito{
    color:hsl(256, 100%, 13%);
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    font-family: 'Grandstander', cursive;
    font-size: 22px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    text-align: center;
}



.flexcarrito{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-default{
    background-image: url(../imagenes/campana.png);
    background-repeat: no-repeat;
    background-position: left center;
    font-family: 'Grandstander', cursive;
    font-weight: bold;
    font-size: 22px;
    border-radius: 5px;
    text-align: end;
    width: 40%;
    background-color: rgba(183, 120, 241, 0.74);
}

/* Fin de Carrito */



@media (max-width: 800px) {
    .bodyindex{font-size: 17px;}
    .bodynosotros{font-size: 17px;}
    .textonosotros{font-size: 17px;
                    width: 100%;}
    .bodycontacto{font-size: 17px;}
    .bodytortas{font-size: 17px;}
    .bodycarrito{font-size: 17px;}
    h1{font-size: 24px;}
    .chocotorta{width: 100%; 
                max-height: 200px;}
    .tortafrutilla{width: 100%;
                max-height: 200px}
    .fotos{flex-wrap: wrap;
            }
    .pie a {margin: 8px;}
    .pie{font-size: 17px}
    .contenidonosotros{flex-wrap:wrap;
                        justify-content: center;}
    .textonosotros{width: 100%;}
    .mapa{width: 100%;}
    .contenedortortas{flex-wrap: wrap;
                      row-gap: 25px;
                      font-size: 17px;}
    .torta{width: 80%;}
    .fotostortas{width: 90%;}
    .botoncarrito{font-size: 17px !important;}
    .tabla{font-size: 17px;}
    .menumobile{display:flex !important;}
    .autor{display: block;}
    .flexcarrito{flex-wrap: wrap;}
    .btn-default{width: 200px;
                font-size: 17px;}
}