@keyframes animaciones {
  0% {
    background-color: #902bd9; }
  50% {
    background-color: #622bd9; }
  100% {
    background-color: #9e5ffc; } }

body {
  color: #120042;
  background: radial-gradient(circle, #eeaeca 0%, #94bbe9 100%);
  font-family: 'Grandstander', cursive;
  font-size: 20px;
  font-weight: bold;
  padding: 0;
  margin: 0;
  text-align: center; }

.divlogo {
  display: flex; }

.logo {
  width: 100%; }

.menucentrado {
  justify-content: center !important; }

.menubarra {
  margin-bottom: 20px;
  animation-name: animaciones;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate; }

.itemmenu {
  padding-left: 15px;
  padding-right: 15px; }

.menumobile {
  padding-left: 15px;
  display: none; }

h1 {
  font-size: 35px;
  font-weight: bold; }

.textoindex {
  font-style: italic; }

a {
  color: black !important;
  text-decoration: none;
  margin: 5px; }

.paso_a_paso {
  font-style: italic;
  list-style-position: inside; }

.tituloindex {
  text-decoration: underline rgba(255, 255, 255, 0);
  transition: text-decoration-color 300ms; }
  .tituloindex:hover {
    text-decoration-color: black; }

.fotos {
  display: flex;
  justify-content: space-around; }

.chocotorta {
  width: 100%; }

.tortafrutilla {
  width: 100%; }

.cajatortasanimacion {
  position: relative;
  display: flex;
  overflow: hidden;
  width: 40%;
  max-height: 400px;
  border-radius: 30px;
  padding-bottom: 15px; }

.textohover {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ffb9d8;
  display: flex;
  flex-wrap: wrap;
  transition: all 1s ease-in-out;
  top: -150px; }
  .textohover:hover {
    opacity: 1;
    font-size: 30px;
    color: white;
    top: 0; }

.subtienda {
  width: 100%;
  font-size: 30px;
  color: white;
  padding-top: 30px; }

.catalogo {
  width: 100%;
  font-size: 30px;
  color: white; }

h2 {
  font-size: 30px;
  font-weight: bold;
  padding-top: 3px; }

li {
  padding-top: 7px;
  padding-bottom: 7px; }

.fondopasos {
  background-image: url("../imagenes/fondofondo.jpg");
  width: auto;
  background-size: 500px;
  color: black; }

.pie {
  padding-top: 30px;
  padding-bottom: 3px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 30px; }
  .pie span {
    width: 100%; }

.mediosdepago {
  display: flex;
  flex-wrap: wrap;
  width: 45%;
  justify-content: center;
  column-gap: 30px; }
  .mediosdepago h3 {
    width: 100%;
    padding-bottom: 20px; }

.nuestrasredes {
  display: flex;
  flex-wrap: wrap;
  width: 45%;
  justify-content: center; }
  .nuestrasredes ol {
    list-style-position: inside;
    list-style-type: none;
    display: flex; }
  .nuestrasredes li {
    transition: all 1s ease-in-out; }
    .nuestrasredes li:hover {
      transform: rotate(360deg); }
  .nuestrasredes h3 {
    width: 100%;
    padding-bottom: 20px; }
  .nuestrasredes a {
    padding-left: 20px; }

.pasoapasogrid {
  list-style-position: inside;
  list-style-type: none;
  padding-left: 10px;
  width: 60%;
  margin: auto; }
  .pasoapasogrid li {
    display: flex;
    align-items: center; }

.contenidonosotros {
  display: flex;
  column-gap: 20px; }

.textonosotros {
  width: 70%;
  text-align: left; }

.flexslider {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 30px; }

.carrusel {
  display: flex; }

.contenedorinf {
  width: 40%; }
  .contenedorinf h3 {
    padding-top: 20px; }

.apedido {
  width: 100%;
  padding-top: 40px; }

.formulario {
  width: 300px;
  box-sizing: content-box !important;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(151, 95, 241, 0.788);
  border: 4px solid rgba(113, 9, 211, 0.87);
  border-radius: 5px; }

.nombre {
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.719);
  padding: 5px;
  width: 280px; }

.mail {
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.719);
  padding: 5px;
  width: 280px; }

.consulta {
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.719);
  padding: 5px;
  width: 280px;
  height: 280px; }

.divnombre {
  padding-bottom: 10px; }

.divmail {
  padding-bottom: 10px; }

.botonformulario {
  margin-bottom: 10px;
  padding: 10px;
  font-family: 'Grandstander', cursive;
  font-weight: bold;
  font-size: 20px;
  border: 2px solid rgba(0, 0, 0, 0.719);
  border-radius: 5px;
  width: 80%;
  background-image: url(../imagenes/formulario.png);
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: left center; }

.botoncarrito {
  margin-bottom: 10px;
  padding: 10px;
  font-family: 'Grandstander', cursive;
  font-weight: bold;
  font-size: 20px;
  border: 2px solid rgba(0, 0, 0, 0.719);
  border-radius: 5px;
  background-image: url(../imagenes/campana.png);
  background-repeat: no-repeat;
  background-position: left center; }
  .botoncarrito:hover {
    color: #ce0000; }

.fototorta {
  padding-top: 5px;
  padding-bottom: 5px;
  width: auto;
  max-height: 300px;
  max-width: 100%; }

.cajatortas {
  background-color: rgba(155, 115, 221, 0.719);
  display: flex;
  flex-direction: column;
  opacity: 0.9; }
  .cajatortas:hover {
    opacity: 1; }

.preciotorta {
  text-decoration: underline rgba(255, 255, 255, 0);
  transition: text-decoration-color 300ms; }
  .preciotorta:hover {
    text-decoration-color: black; }

.divflex {
  column-gap: 15px;
  row-gap: 15px;
  justify-content: space-around; }

.textotortas {
  flex: 1; }

.subtortas {
  padding-bottom: 5px;
  font-size: 24px;
  text-decoration: underline; }

.flexcarrito {
  display: flex;
  justify-content: center;
  align-items: center; }

.btnvolvertortas {
  background-color: whitesmoke;
  background-image: url(../imagenes/campana.png);
  background-repeat: no-repeat;
  background-position: left center;
  font-family: 'Grandstander', cursive;
  font-weight: bold;
  font-size: 20px;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.719);
  padding: 10px;
  padding-left: 30px; }
  .btnvolvertortas:hover {
    color: red !important; }

@media (max-width: 800px) {
  .bodyindex {
    font-size: 17px; }
  .bodynosotros {
    font-size: 17px; }
  .textonosotros {
    font-size: 17px;
    width: 100%;
    width: 100%; }
  .contenedorinf {
    width: 80%; }
  .bodycontacto {
    font-size: 17px; }
  .bodytortas {
    font-size: 17px; }
  .bodycarrito {
    font-size: 17px; }
  h1 {
    font-size: 24px; }
  .chocotorta {
    width: 100%; }
  .tortafrutilla {
    width: 100%; }
  .fotos {
    flex-wrap: wrap; }
  .pie {
    row-gap: 30px;
    font-size: 17px; }
    .pie a {
      margin: 8px; }
  .mediosdepago {
    width: 100%; }
  .nuestrasredes {
    width: 100%; }
  .contenidonosotros {
    flex-wrap: wrap;
    justify-content: center; }
  .mapa {
    width: 100%; }
  .contenedortortas {
    flex-wrap: wrap;
    row-gap: 25px;
    font-size: 17px; }
  .torta {
    width: 80%; }
  .fotostortas {
    width: 90%; }
  .botoncarrito {
    font-size: 17px !important; }
  .botonformulario {
    font-size: 17px !important; }
  .menumobile {
    display: flex !important; }
  .flexcarrito {
    flex-wrap: wrap; }
  .pasoapasogrid li {
    flex-wrap: wrap;
    justify-content: center; }
  .btnvolvertortas {
    font-size: 17px; }
  .subtortas {
    font-size: 20px; }
  .cajatortasanimacion {
    width: 90%; }
  .subtienda {
    font-size: 24px; }
  .catalogo {
    font-size: 17px; } }
