.bodyindex {
    color:hsl(256, 100%, 13%);
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    font-family: 'Grandstander', cursive;
    font-size: 22px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    text-align: center;
}

.divlogo{
    display: flex;
}

.logo{
    width: 100%;
}

.menucentrado{justify-content: center !important;}

.menubarra{
    
    margin-bottom: 20px;
    animation-name: animaciones;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.itemmenu{
    padding-left: 15px;
    padding-right: 15px;
}




.menumobile{
    padding-left: 15px;
    display: none;
}
    


h1 {
    font-size: 35px;
    font-weight: bold;
    
}

a {
    color: black !important;
    text-decoration: none   ;
    margin: 5px;
}


.paso_a_paso {
    font-style: italic;
    list-style-position: inside;

}

.redes{
    transition: all 1s ease-in-out;
}

.redes:hover{
    color: rgb(206, 0, 0) !important;
    
}

.autor{transition: all 1s ease-in-out}

.autor:hover{transform: rotateY(180deg);}

.fotos{
    display:flex;
    justify-content: space-evenly
    
   
}

.chocotorta{
    width: 45%;
    
}

.tortafrutilla{
    width: 45%;
    
}


h2{
    font-size: 30px;
    font-weight: bold;
    padding-top: 3px;

}

li{
    padding-top: 7px;
    padding-bottom: 7px;
}


.fondopasos{
    background-image: url("../imagenes/fondofondo.jpg");

    width: auto;
    
    background-size: 500px;
    color: rgb(0, 0, 0);
}

.iconofb{transition: all 1s ease-in-out}

.iconoig{transition: all 1s ease-in-out}

.iconoli{transition: all 1s ease-in-out}

.iconofb:hover{
    color: rgb(136, 0, 0)
}

.iconoig:hover{
    color: rgb(136, 0, 0)
}
.iconoli:hover{
    color: rgb(136, 0, 0)
}

.pie{
    padding-top: 12px;
    padding-bottom: 3px;
    
    
}

.autor{
    display: block;
    padding-top: 10px;
    
}



.pasoapasogrid{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    list-style-position: inside;
    text-align: left;
    padding-left: 10px;
    width: 60%;
    margin: auto;
    grid-template-areas: "batidor item1"
                        "pastelera item2"
                        "manga item3"
                        "dona item4"
                        "cookie item5"
                        "cafe item6";
  
    
}




.item{
    margin-left: 2px;
     
}


.item1{grid-area: item1;}
.item2{grid-area: item2;}
.item3{grid-area: item3;}
.item4{grid-area: item4;}
.item5{grid-area: item5;}
.item6{grid-area: item6;}
.pngbatidor{grid-area: batidor;}
.pngpastelera{grid-area: pastelera;}
.pngmanga{grid-area: manga;}
.pngdona{grid-area: dona;}
.pngcookie{grid-area: cookie;}
.pngcafe{grid-area: cafe;}




/* Fin de home */


.bodynosotros{
    color:hsl(256, 100%, 13%);
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    font-family: 'Grandstander', cursive;
    font-size: 22px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    text-align: center;
}

.contenidonosotros{
    display: flex;
    column-gap: 20px;
}

.textonosotros{
    width: 70%;
}

    


/* Fin de nosotros jaja */


.bodycontacto{
    color:hsl(256, 100%, 13%);
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    font-family: 'Grandstander', cursive;
    font-size: 22px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    text-align: center;
}

.formulario{
    width: 300px;
    box-sizing: content-box !important;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(151, 95, 241, 0.788);
    border: 4px solid rgba(113, 9, 211, 0.87);
    border-radius: 5px;
    
}

.nombre{
    padding: 5px;
    width: 280px;
}

.mail{
    padding: 5px;
    width: 280px
}

.consulta{
    padding: 5px;
    width: 280px;
    height: 280px;
}

.botonformulario{margin-bottom: 10px;
                padding: 10px;
                width: 80%;
                background-image: url(../imagenes/formulario.png);
                background-size: 40px;
                background-repeat: no-repeat;
                background-position: left center;
                 font-family: 'Grandstander', cursive;
                font-weight: bold;
                font-size: 20px;
                border-radius: 5px;}


/* Fin de Contacto */


.bodytortas{
    color:hsl(256, 100%, 13%);
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    font-family: 'Grandstander', cursive;
    font-size: 22px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    text-align: center;
}


.botoncarrito{
              margin-bottom: 10px;
              padding: 10px;
              background-image: url(../imagenes/campana.png);
              background-repeat: no-repeat;
              background-position: left center;
              font-family: 'Grandstander', cursive;
              font-weight: bold;
              font-size: 22px;
              border-radius: 5px;
              box-sizing: content-box;
              
             
                                                }


 .botoncarrito:hover{color: rgb(206, 0, 0);
                ;

 }

 .fototorta{padding-top: 5px;
          padding-bottom: 5px;
          }

.fototorta:hover{transform: scale(1,1)}

.cajatortas{
    background-color: rgba(155, 115, 221, 0.719);
    display: flex;
    flex-direction: column;
   
}

.divflex{
    row-gap: 15px;
    justify-content: space-around;
    
    }

.textotortas{flex:1}







/* Fin de Tortas */


.bodycarrito{
    color:hsl(256, 100%, 13%);
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    font-family: 'Grandstander', cursive;
    font-size: 22px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    text-align: center;
}



.flexcarrito{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-default{
    background-image: url(../imagenes/campana.png);
    background-repeat: no-repeat;
    background-position: left center;
    font-family: 'Grandstander', cursive;
    font-weight: bold;
    font-size: 22px;
    border-radius: 5px;
    text-align: end;
    width: 40%;
    background-color: rgba(183, 120, 241, 0.74);
}

/* Fin de Carrito */



@media (max-width: 800px) {
    .bodyindex{font-size: 17px;}
    .bodynosotros{font-size: 17px;}
    .textonosotros{font-size: 17px;
                    width: 100%;}
    .bodycontacto{font-size: 17px;}
    .bodytortas{font-size: 17px;}
    .bodycarrito{font-size: 17px;}
    h1{font-size: 24px;}
    .chocotorta{width: 100%; 
                max-height: 200px;}
    .tortafrutilla{width: 100%;
                max-height: 200px}
    .fotos{flex-wrap: wrap;
            }
    .pie a {margin: 8px;}
    .pie{font-size: 17px}
    .contenidonosotros{flex-wrap:wrap;
                        justify-content: center;}
    .textonosotros{width: 100%;}
    .mapa{width: 100%;}
    .contenedortortas{flex-wrap: wrap;
                      row-gap: 25px;
                      font-size: 17px;}
    .torta{width: 80%;}
    .fotostortas{width: 90%;}
    .botoncarrito{font-size: 17px !important;}
    .tabla{font-size: 17px;}
    .menumobile{display:flex !important;}
    .autor{display: block;}
    .flexcarrito{flex-wrap: wrap;}
    .btn-default{width: 200px;
                font-size: 17px;}
}


@keyframes animaciones{
    0%{background-color: #9c3ae2;}

    50% {background-color: #8c40ff;}

    100% {background-color: #9d5cff;}


}