$fondopagina: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
$fuentecuerpo: 20px;
$fuentemobile: 17px;

@mixin botones {
	margin-bottom: 10px;
	padding: 10px;
	font-family: 'Grandstander', cursive;
	font-weight: bold;
	font-size: $fuentecuerpo;
	border: 2px solid rgba(0, 0, 0, 0.719);
	border-radius: 5px;
}

@mixin propiedadesformulario {
	border-radius: 5px;
	border: 2px solid rgba(0, 0, 0, 0.719);
	padding: 5px;
}

@keyframes animaciones {
    0%{background-color: #902bd9;}

    50% {background-color: #622bd9;}

    100% {background-color: #9e5ffc;}
}

body {
	color: hsl(256, 100%, 13%);
	background: $fondopagina;
	font-family: 'Grandstander', cursive;
	font-size: $fuentecuerpo;
	font-weight: bold;
	padding: 0;
	margin: 0;
	text-align: center;
}

.divlogo {
	display: flex;
}

.logo {
	width: 100%;
}

.menucentrado {
	justify-content: center !important;
}

.menubarra {
	margin-bottom: 20px;
	animation-name: animaciones;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.itemmenu {
	padding-left: 15px;
	padding-right: 15px;
}

.menumobile {
	padding-left: 15px;
	display: none;
}

h1 {
	font-size: 35px;
	font-weight: bold;
}

.textoindex{
	font-style: italic;
}

a {
	color: black !important;
	text-decoration: none;
	margin: 5px;
}

.paso_a_paso {
	font-style: italic;
	list-style-position: inside;
}

.tituloindex {
	text-decoration: underline rgba(255, 255, 255, 0);
  	transition: text-decoration-color 300ms;
	&:hover{
		text-decoration-color: rgb(0, 0, 0);
	}
}

.fotos {
	display: flex;
	justify-content: space-around;
}

.chocotorta {
	width: 100%;
}

.tortafrutilla {
	width: 100%;
}

.cajatortasanimacion {
	position: relative;
	display: flex;
	overflow: hidden;
	width: 40%;
	max-height: 400px;
	border-radius: 30px;
	padding-bottom: 15px;
}

.textohover {
	opacity: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgb(255, 185, 216);
	display: flex;
	flex-wrap: wrap;
	transition: all 1s ease-in-out;
	top: -150px;
	&:hover {
		opacity: 1;
		font-size: 30px;
		color: white;
		top: 0;
	}
}

.subtienda {
	width: 100%;
	font-size: 30px;
	color: white;
	padding-top: 30px;
}

.catalogo {
	width: 100%;
	font-size: 30px;
	color: white;
}

h2 {
	font-size: 30px;
	font-weight: bold;
	padding-top: 3px;
}

li {
	padding-top: 7px;
	padding-bottom: 7px;
}

.fondopasos {
	background-image: url("../imagenes/fondofondo.jpg");
	width: auto;
	background-size: 500px;
	color: rgb(0, 0, 0);
}


.pie {
	padding-top: 30px;
	padding-bottom: 3px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	row-gap: 30px;
	span{
		width: 100%;
	}
}

.mediosdepago{
	display: flex;
	flex-wrap: wrap;
	width: 45%;
	justify-content: center;
	column-gap: 30px;
	h3{
		width: 100%;
		padding-bottom: 20px;
	}
}

.nuestrasredes{
	display: flex;
	flex-wrap: wrap;
	width: 45%;
	justify-content: center;
	ol{
		list-style-position: inside;
		list-style-type: none;
		display: flex;
	}
	li{
		transition: all 1s ease-in-out;
		&:hover {
		transform:rotate(360deg)
		}
	}
	h3{
		width: 100%;
		padding-bottom: 20px;
	}
	a{padding-left: 20px;}
}

.pasoapasogrid {
	list-style-position: inside;
	list-style-type: none;
	padding-left: 10px;
	width: 60%;
	margin: auto;
	li {
		display: flex;
		align-items: center;
	}
}

.contenidonosotros {
	display: flex;
	column-gap: 20px;
}

.textonosotros {
	width: 70%;
	text-align: left;
}

.flexslider{
	display: flex;
	flex-wrap:wrap;
	justify-content: space-around;
	padding-bottom: 30px;
}

.carrusel{
	display: flex;
}

.contenedorinf{
	width: 40%;
	h3{
		padding-top: 20px;
	}
}

.apedido{
	width: 100%;
	padding-top: 40px;
}

.formulario {
	width: 300px;
	box-sizing: content-box !important;
	margin: 0 auto;
	padding: 20px;
	background-color: rgba(151, 95, 241, 0.788);
	border: 4px solid rgba(113, 9, 211, 0.87);
	border-radius: 5px;
}

.nombre {
	@include propiedadesformulario;
	width: 280px;
}

.mail {
	@include propiedadesformulario;
	width: 280px;
}

.consulta {
	@include propiedadesformulario;
	width: 280px;
	height: 280px;
}

.divnombre {
	padding-bottom: 10px;
}

.divmail {
	padding-bottom: 10px;
}

.botonformulario {
	@include botones;
	width: 80%;
	background-image: url(../imagenes/formulario.png);
	background-size: 40px;
	background-repeat: no-repeat;
	background-position: left center;
}

.botoncarrito {
	@include botones;
	background-image: url(../imagenes/campana.png);
	background-repeat: no-repeat;
	background-position: left center;
	&:hover {
		color: rgb(206, 0, 0);
	}
}



.fototorta {
	padding-top: 5px;
	padding-bottom: 5px;
	width: auto;
	max-height: 300px;
	max-width: 100%;
	
}

.cajatortas {
	background-color: rgba(155, 115, 221, 0.719);
	display: flex;
	flex-direction: column;
	opacity: 0.9;
	&:hover{
		opacity: 1;
	}
}

.preciotorta {
	text-decoration: underline rgba(255, 255, 255, 0);
  	transition: text-decoration-color 300ms;
	&:hover{
		text-decoration-color: rgb(0, 0, 0);
	}
}

.divflex {
	column-gap: 15px;
	row-gap: 15px;
	justify-content: space-around;
}

.textotortas {
	flex: 1;
}

.subtortas {
	padding-bottom: 5px;
	font-size: 24px;
	text-decoration: underline;
}

.flexcarrito {
	display: flex;
	justify-content: center;
	align-items: center;
}

.btnvolvertortas {
	background-color: whitesmoke;
	background-image: url(../imagenes/campana.png);
	background-repeat: no-repeat;
	background-position: left center;
	font-family: 'Grandstander', cursive;
	font-weight: bold;
	font-size: $fuentecuerpo;
	border-radius: 5px;
	border: 2px solid rgba(0, 0, 0, 0.719);
	padding: 10px;
	padding-left: 30px;
	&:hover {
		color: red !important;
	}
}

@media (max-width: 800px) {
	.bodyindex {
		font-size: $fuentemobile;
	}
	.bodynosotros {
		font-size: $fuentemobile;
	}
	.textonosotros {
		font-size: $fuentemobile;
		width: 100%;
		width: 100%;
	}
	.contenedorinf{
		width: 80%;
	}
	.bodycontacto {
		font-size: $fuentemobile;
	}
	.bodytortas {
		font-size: $fuentemobile;
	}
	.bodycarrito {
		font-size: $fuentemobile;
	}
	h1 {
		font-size: 24px;
	}
	.chocotorta {
		width: 100%;
	}
	.tortafrutilla {
		width: 100%;
	}
	.fotos {
		flex-wrap: wrap;
	}
	.pie {
		row-gap: 30px;
		a {
			margin: 8px;
		}
		font-size: $fuentemobile;
	}
	.mediosdepago{
		width: 100%;
	}
	.nuestrasredes{
		width: 100%;
	}
	.contenidonosotros {
		flex-wrap: wrap;
		justify-content: center;
	}
	.mapa {
		width: 100%;
	}
	.contenedortortas {
		flex-wrap: wrap;
		row-gap: 25px;
		font-size: $fuentemobile;
	}
	.torta {
		width: 80%;
	}
	.fotostortas {
		width: 90%;
	}
	.botoncarrito {
		font-size: $fuentemobile !important;
	}
	.botonformulario{
		font-size: $fuentemobile !important;
	}
	.menumobile {
		display: flex !important;
	}
	.flexcarrito {
		flex-wrap: wrap;
	}
	.pasoapasogrid {
		li {
			flex-wrap: wrap;
			justify-content: center;
		}
	}
	.btnvolvertortas {
		font-size: $fuentemobile;
	}
	.subtortas {
		font-size: 20px;
	}
	.cajatortasanimacion {
		width: 90%;
	}
	.subtienda {
		font-size: 24px;
	}
	.catalogo {
		font-size: $fuentemobile;
	}
}
